.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    text-align: center;

}

.item {
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: transform .4s;
}

.item:hover {
    border-color: rgb(8, 139, 63);
    background: transparent;
    transform: scale(1.2);
}

.image {
    border-radius: 1.5rem;
    overflow: hidden;
}

#Project h5 {
    font-size: 7rem;
	text-align: center;
    color: black;
}
