.block {
    display: grid;
    grid-template-columns:  35% 50%;
    gap: 15%;
}

.about {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--colol-primary), transparent);
    display: grid;
    place-items: center;
}

.image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(5deg);
    margin-top: 300px;
}

.image:hover {
    transform: rotate(0);
}

#me {
    background-image: url(../../assets/polygon.jfif);
    background-position: center;
    background-size: cover;
}

#me h5{
    font-size: 5rem;
    text-align: center;
    font-style: italic;
    color: rgb(73, 180, 230);
    font-weight: bolder;
}
button {
    background-color: #0d5f0d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 23px 50px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 20px;
    font-size: 1rem;
    font-family: sans-serif;

}

button:hover {
    background-color: transparent;
    border: 2px solid #0d5f0d;
    cursor: pointer;
}


#me h1 span {
    color: #fff;
}
 p {
    color: #fff;
    font-size: 2.4rem;
    margin-top: 20rem;
    margin-right: 5rem;
    text-align: center;
 }
