.container span{
    color: rgb(35, 109, 1);
    font-weight: bolder;
    font-style: italic;
}
.container h5{
    color: rgb(73, 180, 230);
}
.container h1{
    color: #fff;
    margin-top: 4rem;
}
.container {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
}
.button {
    margin-top: 4rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.btn {
    background-color: #0d5f0d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;

}
.btn-primary {
    background-color: rgb(73, 180, 230);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn-primary:hover {
        transform: scale(1.2);
        color: black;
}
.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}
.joy {
    width: 22rem;
    height: 30rem;
    position: absolute;
    margin-top: 4rem;
    left: 50%;
    transform: translatex( -50%);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem i.5rem 1.5rem 1.5rem;
}

.logo {
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo span {
color: #0d5f0d;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 50rem;
    height: 6rem;
}
a {
    color:  #15d4c4;
    transition: transform .4s;
}

a:hover {
    color: #0d5f0d;
}


@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}


@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .social {
        display: none;
    }
}
