
.service {
    width: 100%;
    padding: 100px 0px;
    column-count: 3;
    display: inline-block;
}

.service h1 {
	font-size: 7rem;
	text-align: center;
    color: black;
    margin-left: 74rem;
}


.title {
    color: black;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    justify-content: center;
    align-items: center;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    column-count: 3;

}

.card {
    height: 565px;
    width: 534px;
    padding: 20px 35px;
    background-image: url(../../assets/yow.jpg);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5 {
    color: rgb(73, 180, 230);
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 15px;

}

.pra p {
    color: white;
    font-size: 2rem;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #0d5f0d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #0d5f0d;
    cursor: pointer;
}

.card a {
    color: rgb(73, 180, 230);
    font-size: 10rem;
    display: block;
    text-align: center;
    margin: 25px 0px;

}

.cv p{
    color: black;
    font-size: 2rem;
}

.cv a {
    color: #0d5f0d;
    font-size: 15rem;
    display: block;
    text-align: center;
    margin: 25px 0px;
}

.cv a:hover {
    border-color: rgb(73, 180, 230);
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .box {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .card {
      grid-template-columns: repeat(1, 1fr);
    }
  }

