.prof {
    padding-right: 60px;
    color: white;
}

.prof h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
}
